* {
  padding:0;
  margin:0;
}

.clearfix {
  overflow: auto;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

.project-entry {
  border-bottom: 1px solid black;
  margin-bottom: 25px;
  padding-bottom: 5px;
}

.project-entry:last-of-type {
  margin-bottom: 0;
  border: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 40px;
  line-height: 25px;
}

h2 {
  font-size: 24px;
  line-height: 29px;
  padding: 10px;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  color: #000000;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 15px;
  padding-top: 15px;
}

h4 {
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h1,
h2,
h3,
h4,
h5 {
  padding:10px;
  padding-left: 5%;
  font-weight: 300;
}

.title-border {
  border-top: 2px solid black;
}

hr {
  border: 0;
  height: 1px;
  color: black;
  background-color: black;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

span.uppercase {
  font-size: .8em;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 24px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
  display: inline-block;
  padding: 10px 0;
}

a {
  text-decoration: none;
  margin-top: 20px;
  display: block;
}

a.course-link {
  margin: 20px 0;
  padding: 14px;
  border: 1px solid black;
  background-color: maroon;
  color: beige;
  display: inline-block;
}

em {
  display: inline-block;
  margin: 0 10px;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #F3F3F3;
  line-height: 28px;
}

#skillsH3 {
  display: none;
}

.tan-light {
  background-color: #eeefe5;
}

.white-text {
  color: #ffffff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.green-muted {
  background-color: #778472;
}

/* TODO: Replace with image later */
#header {
  background-color: #778472;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 150px;
  height: 150px;
  display: none;
  border-radius: 100px;
}

img {
  width: 100%;
  height: auto;
  max-width: 400px;
  display: block;
  margin: 20px auto;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
  hr {
    margin-top: 10px;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
  overflow: auto;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
  h1,
  .role {
    display: inline;
  }
}
